@charset "utf-8";
*{
    text-decoration: none;
    list-style:none;
    border-collapse:collapse;
    margin:0;
    padding:0;
    color:#000;
}

.intro_bg{
    background-image:url("../images/christmas-tree-2928142.jpg");
    width:100%;
    height:781px;
    position:relative;
}
.header{
    width:1280px;
    display:flex;
    margin:auto;
    height:86px;
}
.searchArea{
    width:340px;
    height:86px;
    line-height:86px;

}
.searchArea> form{
    position:relative;
    left:-50px;
}
.searchArea> form> input{
    width:250px;
    height:40px;
    padding-left:20px;
    border:none;

}
.searchArea> form> span{
    width:80px;
    display:block;
    height:40px;
    text-align:center;
    color:white;
    cursor:pointer;
    margin:0;
    float:right;
}
.text_white{
    color:white;
    font-size:20px;
    font-weight:lighter;
}
.intro_text{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro_text >h1{
    color:white;
    text-align:center;
    width:100%;
}
.intro_text > h4{
    color:white;
    text-align:center;
    width:100%;
}
.nav{
    display:flex;
    width:calc(1340px - 370px);
    justify-content:flex-end;
    color:#fff;
    line-height:86px;
}
.nav > li{
    
    flex:1;
    text-align:center;
}
.nav> li> a{
    color:#fff;
}
.intro_text2{
    width:948px;
    height:100px;
    display:flex;
    margin:auto;
}
.intro_text2>li>a{
height:100px;
display:block;
padding-top:25px;
}
.intro_text2> li{
    width:948px;
    flex:1;
    height:100px;
    text-align:center;
    background:white;
    position:relative;
    margin-top:-50px;
}
.intro_text2> li{
    border-left:1px solid gray;
}
.nav2{
    width:100%;
    background:#f1f2f3;
    height:600px;
    text-align:center;
    margin-top:-100px;
    
    
}
.contexts1{
    font-size:48px;
    font-weight:bold;
}
.contexts2{
    font-size:16px;
    font-weight:lighter;
}
.ABOUT1{
    width:100%;
    height:40px;
    padding-top:80px;
    text-align:center;
}
.ABOUT2{
    
    float:left;
    background:white;
    margin-left:calc(131px/4);
    width:calc(1300px/3);
    height:300px;
}
.ABOUT3{
    
    float:left;
    background:white;
    margin-left:calc(131px/4);
    width:calc(1300px/3);
    height:300px;
}
.ABOUT4{
    float:left;
    background:white;
    margin-left:calc(131px/4);
    width:calc(1300px/3);
    height:300px;
}
.nav3{
    margin-left: 15px;
    height:300px;
    margin:100px auto;
    width:1431px;
}
.icon2> img{
    width:120px;
    height:120px;
}
.icon0> img{
    width:120px;
    height:120px;
}
.icon1>img{
    width:120px;
    height:120px;
}
.icon1{
    height:120px;
}
.icon0{
    height:120px;
}
.icon2{
    height:120px;
}

.more{
 line-height:40px;
 cursor:pointer;
 display:block;
 background:blue;
 color:white;
 width:120px;
 height:40px;
 margin:40px auto;
}
.SERVICE> h1{
    text-align:center;
    padding-top:40px;
}
.SERVICE{
    width:100%;
    height:500px;
    background:white;
}
.SERVICE>.contexts2{
    text-align:center;
    padding-top:10px;
}
.SERVICE>.service_img_text>.service_img>a>img{
    width:400px;
    height:300px;
}
.SERVICE>.service_img_text>.service_img{
    width:400px;
    height:300px;
}
.SERVICE>.service_img_text{
    width:55%;
    margin:0 auto;
    height:400px;
    display:flex;
    padding:40px;


}
.SERVICE>.service_img_text>.contexts2{
    width:600px;
    height:300px;
    padding:40px;
}

.CONTACT{
width:100%;
height:400px;
background-image:url(../images/christmas-2947257_1920.jpg);
}
.CONTACT>a>img{
    width:100%;
    height:500px;
}
.CONTACT>.contact_text{
text-align:center;
padding-top:100px;
}
.CONTACT>.contact_text>.icon{
width:150px;
height:50px;
line-height:50px;
border:3px solid black;
margin:40px auto;
color:blue;
cursor:pointer;
}